{
    # Based on https://github.com/clearmatics/zeth/.clang-format

    # .clang-format in root of repository.  To run on single file:
    #
    #   $ clang-format -style=file -i <file path>
    #
    # To run on whole repo:
    #
    #   $ scripts/format

    BasedOnStyle: llvm,

    Standard: C++11,
    IndentWidth: 4,
    AccessModifierOffset: -4,
    UseTab: Never,
    FixNamespaceComments: "true",
    IncludeBlocks: Regroup,
    MaxEmptyLinesToKeep: 1,
    BreakBeforeTernaryOperators: "true",
    SpaceBeforeCpp11BracedList: "false",
    Cpp11BracedListStyle: "true",
    KeepEmptyLinesAtTheStartOfBlocks: "true",
    AllowShortIfStatementsOnASingleLine: "false",
    SpaceAfterTemplateKeyword: "false",
    AlwaysBreakAfterReturnType: None,
    PenaltyReturnTypeOnItsOwnLine: 10000000,
    SpaceAfterCStyleCast: "false",
    SpaceBeforeAssignmentOperators: "true",

    AlignAfterOpenBracket: AlwaysBreak,
    AllowAllParametersOfDeclarationOnNextLine: "true",
    BinPackArguments: "false",
    BinPackParameters: "false",

    AlwaysBreakTemplateDeclarations: MultiLine,
    BreakBeforeBraces: Linux,
    BreakConstructorInitializers: BeforeComma,
    BreakInheritanceList: BeforeComma,
    ConstructorInitializerAllOnOneLineOrOnePerLine: "true",
    # AllowAllConstructorInitializersOnNextLine: "false",
}
